.wrapper {
  padding: 40px 0;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 35px;
}

.text {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  /* background: linear-gradient(to right, #076eaa, #0984cc, #10253d) 47% 0%; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  background: radial-gradient(at center, #349fdd, #0a5e8f) 50% 10%;
}

.info {
  font-size: 20px;
  color: #062974;
}
